.datepicker-table {
  font-size: 16px;
  font-family: sans-serif;
  color: #4b4b4b;

  table {
    width: 100%;
  }

  th {
    font-weight: 200;
    width: 12.5%;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #4b4b4b;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .2s;

    &.disabled {
      color: #8d8d8d;
    }

    &:not(.disabled):hover {
      color: #fefefe;
      background-color: #0296c3;
      cursor: pointer;
    }

    &:not(.disabled).active {
      color: #fefefe;
      background-color: #004e66;
    }
  }
}

.week-numbers {
  color: #0296c3;
}
