.year-list-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0;
}

.year-item {
  margin: 7px 0;
}

.btn-year-item {
  border: none;
  background-color: transparent;
  transition: ease-in-out .2s;
  border-radius: 100px / 100px;
  padding: 5px 13px;
  font-size: 16px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: rgba(#00796B, .7);
  }

  &.active {
    background-color: #00796B;
  }
}

.pos-abs {
  position: absolute;
  top: 0;
}

.left {
  left: -13px;
}

.right {
  right: -13px;
}

.btn-year-range {
  @extend .btn-year-item;
  padding: 5px;
  height: 100%;
}
